<p>
  The study '<%= @study.name %>'
  (<%= link_to @study.accession, view_study_url(accession: @study.accession, study_name: @study.url_safe_name) %>)
  has had the following attributes updated.</p>
<hr />
<p><strong><%= @changes.join(', ') %></strong></p>
<p>Please <%= link_to 'log in', study_url(@study) %> to view the resulting changes.</p>
