<p>
  The study '<%= @study.name %>'
  (<%= link_to @study.accession, view_study_url(accession: @study.accession, study_name: @study.url_safe_name) %>)
  has been shared:</p>
<hr />

<p><strong>Shared With: </strong><%= @share.email %></p>
<p><strong>Granted Permission: </strong><%= @share.permission %></p>
