<p class="lead">
  The file <strong>'<%= file_name %>' (<%= file_type %>)</strong> is missing the required pairing to a
  <strong><%= missing_file_type %></strong> file.  This may have happened due to the associated file failing to ingest
  properly and subsequently being automatically deleted while this upload was in process.  Please re-upload the
  <strong><%= missing_file_type %></strong> file, and once that file has ingested properly, you may re-upload this file.
</p>
