<hr />
<% if is_raw_counts %>
  <h4 class="text-center text-success">Thank you for adding your raw counts</h4>
  <p>
    Raw counts matrices will not be used for visualization.  If you wish to use raw data for
    visualization, please also upload your matrix as a "non-raw" expression matrix.
  </p>
<% else %>
  <h4 class="text-center text-success">Raw data is important</h4>
  <p>
    In addition to uploading your expression matrix for visualization purposes, it is helpful to add your expression data
    in its raw form.  This is helpful for other users who would like to reanalyze your data.
  </p>
<% end %>
<div class="row">
  <div class="col-xs-6">
    <%= link_to "<span class='fas fa-plus'></span> Upload a #{is_raw_counts ? 'processed' : 'raw counts'} expression matrix".html_safe,
                new_study_file_study_path(study_id, file_type: 'Expression Matrix', is_raw_counts: !is_raw_counts,
                                          target: '#expressions-target',
                                          form: 'initialize_expression_form'),
                class: 'btn btn-sm btn-success', data: {remote: true, dismiss: 'modal'} %>
  </div>
  <div class="col-xs-6">
    <%= link_to 'Skip this time', '#', data: {dismiss: 'modal'} %>
  </div>
</div>
