<div id="upload-wizard-target">
  </div>
  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    <% if FeatureFlaggable.feature_flags_for_instances(@selected_branding_group, current_user, @study)['reference_image_upload'] %>
      <%# if images are enabled, we need the read-only token so we can show already-uploaded images from the bucket for reference %>
      window.SCP.readOnlyTokenObject = <%= raw get_read_access_token(@study, current_user).to_json %>
      window.SCP.readOnlyToken = window.SCP.readOnlyTokenObject.access_token
    <% end %>
    const wizardProps = {
      studyAccession: '<%= @study.accession %>',
      name: '<%= @study.name %>'
    }
    window.SCP.renderComponent('upload-wizard-target', 'UploadWizard', wizardProps)
  </script>
