@import './_colors.scss';

.mask {
  height: 245px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
}

.rectangle {
  height: 45px;
  background-color: #344563 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  ul.dropdown-menu {
    background-color: #344563 !important;
  }
}

.dropdown-scroll {
  overflow: auto;
  max-height: 80vh;
}

@media screen and (max-width: 768px) {
  ul.nav.navbar-nav.pull-right {
    margin-top: -7.5px;
    background-color: #344563 !important;
  }
  #breadcrumbs {
    display: none;
  }
}

#main-banner-logo {
  float: left;
  margin-top: 66px;
  margin-left: 35px;
  img {
    max-height: 100px;
  }
}

#scp-logo {
  height: 89px;
  width: 383px;
  display: inline-block;
}

#beta-main {
  position: relative;
  top: -23px;
  margin-left: 10px;
}

#beta-nav {
  color: #ffffff;
  font-weight: 600;
  margin-left: -10px;
}

#main-banner-name {
  font-size: 24px;
  line-height: 22px;
  color: #4A4A4A;
  font-weight: 200;
}

#main-banner-tag-line {
  font-size: 18px;
  line-height: 22px;
  color: #4A4A4A;
  font-weight: 200;
  max-width: 40vw; // Fixes layout on narrow screens (SCP-2637)
}

.scp-banner-position {
  position: relative;
  left: 102px;
}

#main-banner-counts {
  float: right;
  min-width: 245px;
  max-width: 245px;
  margin-top: 100px;
  margin-right: 410px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.left-border-0-5 {
  border-left: 0.5px solid #FFFFFF;
}

.left-border-0-5-gray {
  border-left: 0.5px solid #ddd;
}

.counts-text {
  font-size: 24px;
}

.green-count {
  color: lighten(#80c065, 10%);
}

.blue-count {
  color: lighten(#4e72b8, 10%);
}

#scp-footer {
  background-color: #344563 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  padding-top: 25px;
  padding-left: 25px;
  position: relative;
  margin-top: -108px; /* negative value of footer height */
  min-height: 108px;
  clear:both;
  p {
    font-size: 14px;
    font-weight: 200;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.footer-text-block {
  color: white;
  font-size: 18px;
  font-weight: 200;
  height: 54px;
  padding: 15px 15px 0 15px;
  float: left;
  display: inline-block;
}

.study-panel, .study-genes-panel {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
  .panel-heading {
    background-color: #ffffff !important;
    a {
      color: $action-color;
    }
  }
  .panel-body {
    border-top: none !important;
  }
}

.toggle-description {
  font-size: small;
}



.table-striped {
  border-radius: 8px;
  th {
    background-color: transparent;
  }
}

.scp-help-text {
  font-size: 18px;
  font-weight: 300;
}

#billing-access-request {
  width: 800px;
  margin: 0px auto;
}

.overlay-upload {
  position: relative;
  background: rgba(244,243,244,1.0);
}

.overlay-upload:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(244,243,244,0.85);
}

.show-processed-disclaimer {
  z-index: 1000;
  display: block;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.hide-processed-disclaimer {
  display: none;
  z-index: -1000;
}

#collections-tab {
  float: right;
  a {
    font-size: 16px;
  }
}

.collections-list {
  background: #fff;
  padding: 0em 1em;
  margin-top: 0.5em;
  border-radius: 5px;
  li {
    display: flex;
    padding: 1em 0em 1em 0em;
    border-bottom: 1px solid #ccc;
    .collections-logo {
      width: 180px;
      img {
        max-width: 180px;
      }
    }
    .collections-name {
      text-align: left;
      padding-left: 2em;
    }
    .collections-actions {
      margin-left: auto;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.features-pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.features-pagination a, .features-pagination span {
  padding: 0.2em 0.3em; }
.features-pagination .disabled {
  color: #aaaaaa; }
.features-pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.features-pagination a {
  text-decoration: none;
  color: black; }
.features-pagination a:hover, .features-pagination a:focus {
  text-decoration: underline; }

#latest-features-btn {
  position: absolute;
  top: 235px;
  right: 15px;
  z-index: 9999;
}
