/* defines global colors */

/* color for primary buttons, links, and other indicators that something is a clickable action */
// $action-color: #4d72aa;
$action-color: #3D5A87;

/* non-fatal errors -- color palette borrowed from Terra */
$warning-background-color: #feeed8;
$warning-icon-color: #C45500;
// C45500

$danger-color: rgb(219, 50, 20);
$success-color: #75b041;
