/* defines global colors */

/* color for primary buttons, links, and other indicators that something is a clickable action */
$action-color: #3D5A87;

/* non-fatal errors -- color palette borrowed from Terra */
$warning-background-color: #feeed8;
$warning-icon-color: #f6901b;

$danger-color: rgb(219, 50, 20);
$success-color: #75b041;
