.study-explore {
	position: relative;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	.gene-load-spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #999;
    font-size: 2.5em;
  }
  a {
  	cursor: pointer;
	}

	button.action {
		border: none;
	}

	.plot {
		position: relative;
		background: #fff;
		min-height: 300px;
		.help-block {
			margin-left: 1em;
		}
	}
	.plot-title {
		margin-left: 1em;
		margin-top: 0.5em;
		.badge {
			font-weight: normal;
			margin-right: 0.2em;
		}
		.correlation {
			font-weight: normal
		}
	}
	.legendtitletext {
	}

	.icon-button {
		margin-left: 1em;
		margin-right: 1em;
	}
}


.explore-tab-content {
	background: #fff;
	flex-grow: 1;

	button.action {
		background: #fff;
	}
	.panel {
		border: none;
	}
}


.create-annotation-control {
	.panel-collapse.in {
		border: 1px solid #bbb;
		border-radius: 5px;
	}
	label {
		font-weight: normal;
	}
	input[type="text"] {
		margin-bottom: 0.5em;
		width: 100%;
	}
	.delete-icon {
		border: none;
		color: #777;
		background: none;
		max-height: 1.8em;
		border-radius: 1em;
		&:hover {
			background: #eef;
		}
	}
	ul {
		padding-inline-start: 10px;
	}
	.gene-load-spinner {
		position: relative;
	}
}

.explore-plot-tab-content {
	border-right: 1px solid #ccc;
	min-height: 70vh;
}


.view-options-toggle {
	padding: 1em 0em;
	font-weight: bold;

	button {
		float: right;
		background: none;
		font-weight: normal;
	}
}

.view-options-toggle-on {
	position: absolute;
	top: 0px;
	right: 1px;
	padding: 0.5em;
	background: #fff;
	z-index: 30;
}

.desktop-view-options {
	position: absolute;
	top: 10px;
	right: 2em;
}

.mobile-view-options {
	display: none;
}

@media (max-width: 991.98px) {
	.mobile-view-options {
		display: block;
		text-align: center;
		padding-top: 1em;
	}
	.desktop-view-options {
		display: none;
	}
}


.study-explore .view-options {
  // leave room for the 'view options' toggle
	margin-top: 3em;
}

.render-controls {
	border-radius: 5px;
	border: 1px solid #bbb;
	margin-bottom: 1em;
	.panel {
		margin-bottom: 0px;
	}
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

#gene-list-upload {
	display: none;
}

/** Start of styles for custom Plotly scatter plot legend */
.plot-container.plotly {
  float: left;
}

.scatter-graph {
  margin-left: 40px;
}

.scatter-legend {
  display: inline-block;
  width: 250px;
  background-color: rgb(230, 238, 246);
}

.scatter-legend-name {
  margin: 5px 0 10px 5px;
  font-weight: bold;
}

.scatter-legend-row {
  height: 30px;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-top: 3px;
}

/** Like hover state for React Select */
.scatter-legend-row:hover {
  border-color: #AAB;
}

.scatter-legend-row:hover {
  border-color: #AAB;
}

.scatter-legend-icon {
  width: 29px;
  height: 29px;
  margin: 0 10px 0 -1px;
  float: left;
  border-radius: 2px 0 0 2px
}

.scatter-legend-entry {
  position: relative;
  top: 5px;
}

.filtered {
  .scatter-legend-row {
    opacity: 0.3;
  }
  .scatter-legend-row.selected {
    opacity: 1;
  }
}
/** End of styles for custom Plotly scatter plot legend */
