#home-page-tabs, #study-tabs {
  border-bottom: none;
  li  {
    a {
      font-size: larger;
      color: $action-color;
      border: none;
      background-color: transparent;
      :hover {
        font-weight: bold;
      }

    }

  }
  li.active > a {
    border-bottom: 2px solid $action-color;
    background: #fff;
    color: #333;
  }
}

.action {
  color: $action-color;
  cursor: pointer;
  &:hover {
    color: darken($action-color, 10%);
  }
}

.full-height-modal {
	.modal-dialog {
		height: 100vh !important;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	.modal-content {
		height: auto;
		min-height: 100vh;
		border-radius: 0;
	}
	.modal-body {
		height: 90vh;
	}
}


.download-steps-header .badge {
	color: #fff;
  background-color: #333;
  font-size: 0.9em;
  vertical-align: inherit;
  border-radius: 2em;
}

.download-steps-header .greyed {
	color: #888;
	.badge {
	 	background-color: #888;
	}
}

.table-terra {
	thead {
		background: #f4f4f4;
		font-weight: bold;
		td:first-of-type {
			border-top-left-radius: 10px;
			border-left: none;
		} 
		td:last-of-type {
		  border-top-right-radius: 10px;
		  border-right: none;
		} 
	}
	tbody {
	  label {
			font-weight: normal;
		}
	}
	td {
		border: 1px solid #eee;
	}
}
