#home-page-tabs, #study-tabs {
  border-bottom: none;
  li  {
    a {
      font-size: larger;
      color: $action-color;
      border: none;
      background-color: transparent;
      :hover {
        font-weight: bold;
      }

    }

  }
  li.active > a {
    border-bottom: 2px solid $action-color;
    background: #fff;
    color: #333;
  }
}

.action {
  color: $action-color;
  cursor: pointer;
  &:hover {
    color: darken($action-color, 10%);
  }
}

.tooltip-wide.popover {
  max-width: 400px;
}

.terra-secondary-btn {
  color: $action-color;
  border: 1px solid $action-color;
  background: #fff;
  border-radius: 3px;
}

.terra-tertiary-btn {
  color: $action-color;
  border: none;
  background: none;
  text-decoration: underline;
  padding-left: 0.25em;
  padding-right: 0.25em;
}


.btn-icon {
  background: none;
  border: none;
  svg {
    color: $action-color;
  }
}

.btn-icon-circled {
  background: none;
  border: 1px solid $action-color;
  border-radius: 1em;
  padding: 0.25em 0.75em;
  svg {
    color: $action-color;
  }
}

.full-height-modal {
  .modal-dialog {
    height: 100vh !important;
    max-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
  .modal-body {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
  }
  .modal-footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.labeled-select {
  width: 100%;
  > div {
    font-weight: normal;
  }
}

.table-terra {
  thead {
    background: #f4f4f4;
    font-weight: bold;
    td:first-of-type {
      border-top-left-radius: 10px;
      border-left: none;
    }
    td:last-of-type {
      border-top-right-radius: 10px;
      border-right: none;
    }
    td {
      border: none;
    }
  }
  tbody {
    label {
      font-weight: normal;
    }
  }
  td {
    border-top: 1px solid #eee;
    padding: 0.75em;
  }
  &.compressed {
    td {
      padding: 0.1em 0.5em;
    }
  }
}

// Used in e.g. differential expression (DE) view
.table.table-scp-compact {
  margin-bottom: 10px;
  width: 115%;
  max-width: inherit;
  position: relative;
  left: -15px;

  input {
    margin-left: 2px;
    margin-right: 8px;
  }

  tr {
    font-size: 13px;
  }

  th:last-child {
    padding-right: 2;
  }

  td {
    padding: 2px;
    vertical-align: baseline;
  }
}

.form-terra {
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  #metadata-convention-example img {
    border: 2px solid #888;
  }
  label {
    font-weight: normal
  }
}

.sub-form {
  padding: 1em;
  margin-top: 1em;
  border-left: 2px solid lighten($action-color, 30%);
  background: lighten($action-color, 50%);
  border-radius: 5px;
  h5 { margin-bottom: 1em;}
}

.padded {
  padding: 1em;
}

.top-margin {
  margin-top: 1em;
}

.bottom-margin {
  margin-bottom: 0.5em;
}

.margin-right {
  margin-right: 0.5em;
}

.margin-left {
  margin-left: 1em;
}

.sublabel {
  margin-left: 1em;
  font-weight: normal;
}

hr.divider {
  border-top: 1px solid #AAA;
}

#default-study-options-form {
  ul.multi-checkbox {
    padding-inline-start: 0;
    padding: 4px;
    max-height: 90px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 4px;
    li {
      list-style-type: none;
      width: 100%;
      input[type='checkbox'] {
        margin-right: 4px;
      }
    }
  }
}
