#home-page-tabs, #study-tabs {
  border-bottom: none;
  li  {
    a {
      font-size: larger;
      color: $action-color;
      border: none;
      background-color: transparent;
      :hover {
        font-weight: bold;
      }

    }

  }
  li.active > a {
    border-bottom: 2px solid $action-color;
    background: #fff;
    color: #333;
  }
}

.action {
  color: $action-color;
  cursor: pointer;
  &:hover {
    color: darken($action-color, 10%);
  }
}

.full-height-modal {
  .modal-dialog {
    height: 100vh !important;
    max-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
  .modal-body {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: auto;
  }
  .modal-footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.table-terra {
  thead {
    background: #f4f4f4;
    font-weight: bold;
    td:first-of-type {
      border-top-left-radius: 10px;
      border-left: none;
    } 
    td:last-of-type {
      border-top-right-radius: 10px;
      border-right: none;
    } 
  }
  tbody {
    label {
      font-weight: normal;
    }
  }
  td {
    border: 1px solid #eee;
  }
}

.form-terra {
  background: #fff;
  padding: 1em;
	border-radius: 5px;
}

.padded {
	padding: 1em;
}

.top-margin {
	margin-top: 1em;
}

.upload-wizard-steps {
	list-style: none;
	width: 100%;
	padding-left: 0;
	.dirty {
		font-style: italic;
	}
	.badge {
		background: $action-color;
		margin-right: 1em;
	}
	li.active {
		background: #fff
	}
	> li {
		width: 100%;
		padding: 0.5em;
		border-bottom: 1px solid #666;
	}
	ul {
		list-style: none;
	}
}
