#tracks-to-display {
    list-style-type: none;
    float: left;
    padding-left: 20px;
}

#tracks-to-display label {
    font-weight: normal;
    position: relative;
    top: 1px;
}

#tracks-to-display input {
    margin-right: 5px;
}

#_ideogramLegend {
    position: relative;
    left: 20px;
}

#ideogramTitle {
    margin-left: 110px;
}

#ideogram-container {
    padding-top: 35px;
}
