.rnc__notification-item {
  border: 1px solid #bbb;
  border-radius: 5px;
  .rnc__notification__message {
    display: flex;
    align-items: center;
    svg {
      font-size: 2em;
      margin: 0.25em;
      margin-right: 0.6em;
    }

  }
  .rnc__notification-content .rnc__notification-close-mark {
    background: none;
    top: 0.5em;
    &:after {
      color: $action-color;
      font-size: 1.75em;
    }
  }
  &.rnc__notification-item--success {
    background-color: #f1f6ed;
    border-left: 1px solid #bbb;
    .notification-title {
      color: #333;
    }
    .rnc__notification-message {
      color: #333;
    }
    svg {
      color: $success-color;
      margin-right: 1em;
    }

  }

  &.rnc__notification-item--danger {
    background-color: #fef4e9;
    border-left: 1px solid #bbb;
    .rnc__notification-title {
      color: #333;
    }
    .rnc__notification-message {
      color: #333;
    }
    svg {
      color: #f79916;
      margin-right: 1em;
    }
  }
}
