#related-genes-ideogram-container {
  visibility: hidden;
  z-index: 1000;
  background: #FFF;
  padding-bottom: 45px;

  &.show-related-genes-ideogram {

    visibility: visible;
    position: static !important;

    ~ .expression-plot {
      position: relative;
    }

    #_ideogramMiddleWrap {
      border-bottom: 1px solid #EEE;
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
      overflow-y: hidden
    }

    #_ideogramLegend {
      overflow-y: hidden;
    }
  }
}
