.upload-wizard-react {
  .wizard-side-panel {
    width: 25%;
    min-width: 229px;
    height: calc(100% + 20px); // leave room for footer and navbar
    overflow-y: auto;
    background: rgb(219, 225, 232);
  }
  .wizard-top-bar {
    background: #ddd;
    width: 100%;
    padding: 0.5em;
    padding-left: 1em;
    z-index: 100;
  }
  .wizard-content {
    display: flex;
  }
}

.image-scroll-container {
  overflow-x: scroll;
  max-width: 78vw;
}

.upload-wizard-steps {
  list-style: none;
  width: 100%;
  padding-left: 0;
  .dirty {
    font-style: italic;
  }
  .badge {
    color: #333;
    background: none;
    border-radius: 1em;
    padding: 0.5em 0.75em;
    cursor: pointer;
    &.highlight {
      background: #fff;
    }
    &.complete {
      color: $success-color;
    }
    .fa-circle {
      color: #555;
      font-size: 0.7em;
    }
  }
  .step-number {
    min-width: 23px;
    margin-right: 1em;
    max-width: 23px;
  }
  li.active {
    background: rgb(202, 212, 224);
    border-right: 5px solid $success-color;
  }
  > li {
    width: 100%;
    padding: 0.5em;
    padding-left: 15px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    &:not(.other-header) .action {
      color: #333;
    }
  }
  .file-list {
    padding-inline-start: 0px;
    font-size: 0.9em;
    li {
      padding: 0.1em 0em;
    }
  }
  ul {
    list-style: none;
  }
}

.viz-notifications {
  margin-bottom: 10px;
  svg {
    font-size: 0.8em;
  }

  span.success, span.warning {
    color: #fff;
    padding: 0.1em 0.5em;
    border-radius: 5px;
    margin: 0.1em 0.25em 0.1em 15px;
    display: inline-block;
    &.success {
      background: $success-color;
    }
    &.warning {
      background: $warning-icon-color;
    }
  }
}

.upload-form-header {
  h5 {
    margin-right: 1em;
  }
  &.expanded {
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
  }
  .expander {
    padding: 0em 0.75em;
    color: $action-color;
    cursor: pointer;
  }
  > div:last-of-type {
    margin-left: auto;
  }
}

.file-upload-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  text-align: right;
  padding-top: 0.6em;
  font-size: 1.5em;
  color: #888;
  margin-left: 15px;
}

.upload-cancel-btn {
  margin-right: 3em;
}

.preview-image {
  max-height: 100px;
}

.validation-error {
  color: $danger-color !important;
}

.validation-warning {
  color: $warning-icon-color !important;
}

.prev-next-buttons {
  margin-left: auto;
}

.left-margin {
  margin-left: 15px;
}


.list-link {
  background: unset;
  border: unset;
  text-align: left;
  display: flex;
}

.splitter-info {
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  label {
    font-weight: normal
  }
}

.splitter-info-outside {
  background: #fff;
  padding: 2.5em;
  border-radius: 5px;
  label {
    font-weight: normal
  }
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.splitter-info-buttons {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.flex-grid {
  display: flex;
}

.flex-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 15px;
}

.col {
  padding: 10px;
}

.split-title {
  font-size: 20px;
  padding-bottom: 25px;
  text-align: center;
}

.spinner-full-page {
  height: 50px;
  padding: 20% 50%;
}

.margin-left-30 {
  margin-left: 30px;
}
