<%= render partial: 'main_banner_content' %>
<div class="container-fluid home-page-fix" id="wrap">
  <div class="row section-pad" id="main-body">
    <div class="col-md-12">

      <% if @selected_branding_group.nil? %>
        <div class="home-nav" id="collections-tab">
          <a href="/single_cell/collections" class="btn btn-primary">
            Browse Collections
          </a>
        </div>
      <% end %>
      <%#
        This is where React integrates into Rails.

        Ensure any updates to this ID are reflected in the ReactDOM.render call
        in app/javascript/packs/application.js
      #%>
      <div id="home-page-content"></div>
    </div>
  </div>
</div>
