<%= render partial: 'main_banner_content' %>
<div class="container-fluid home-page-fix" id="wrap">
  <div class="row section-pad" id="main-body">
    <div class="col-md-12">

      <% if User.feature_flag_for_instance(current_user, 'covid19_page') && @selected_branding_group.nil? %>
        <div class="home-nav" id="covid19-tab"
            style="float:right;
                   background: url(<%= image_url 'covid19-button.png' %>);
                   background-position: right;
                   background-repeat: no-repeat;
                   background-color: #1d1e20;
                   border-radius: 5px;
                   background-size: contain;">
          <a href="/single_cell/covid19"
             style="color: #fff;
                    font-size: normal;
                    width:250px;
                    padding: 10px 15px;
                    font-size: 16.8px;
                    display: inline-block">
            COVID-19 Studies
          </a>
        </div>
      <% end %>
      <%#
        This is where React integrates into Rails.

        Ensure any updates to this ID are reflected in the ReactDOM.render call
        in app/javascript/packs/application.js
      #%>
      <div id="home-page-content"></div>
    </div>
  </div>
</div>
<%# render feature flags to html so they can be found by react components #%>
<input type="hidden" id="feature-flags" value='<%= FeatureFlaggable.feature_flags_for_instances(@selected_branding_group, current_user).to_json %>'/>

