<div class="container-fluid" id="wrap">
  <div class="row section-pad" id="main-body">
    <div class="col-md-12">
      <div class="bs-callout bs-callout-danger">
        <h3 class="text-danger text-center">We're sorry, but something went wrong.</h3>
        <p class="lead text-center">This error has been reported to support staff. If you require immediate assistance,
          please send an email to <%= mail_to 'scp-support@broadinstitute.zendesk.com', 'scp-support@broadinstitute.zendesk.com' %>
        </p>
        <p>Please also ensure you have accepted the <a href='https://app.terra.bio/#terms-of-service' target='_blank'>Terra Terms of Service</a>.</p>
      </div>
    </div>
  </div>
</div>
