<div class="container-fluid" id="wrap">
  <div class="row section-pad" id="main-body">
    <div class="col-md-12">
      <div class="bs-callout bs-callout-danger">
        <h3 class="text-danger text-center">Required action</h3>
        <p class="lead text-center">
          Terra has updated their Terms of Service.  Please accept the new <a href='https://app.terra.bio' target='_blank'>Terra Terms of Service</a>.  Single
          Cell Portal will not work properly until you do so.  You can accept the new Terra Terms of Service like so:
          <ol>
            <li>Go to <a href='https://app.terra.bio' target='_blank'>Terra</a>.</li>
            <li>Log in with your Google account.</li>
            <li><i>After you have logged in on Terra</i>, the <a href='https://app.terra.bio#terms-of-service' target='_blank'>Terra Terms of Service</a> will load.</li>
            <li>In Terra, click "ACCEPT" for the new Terms.  Note: there is also an "AGREE" button at the very bottom of the page about cookies.  You will need to click "ACCEPT" terms on the form in the middle of the page; agreeing to cookies is not needed to use Single Cell Portal.</li>
            <li>In SCP, click the Single Cell Portal icon at top left of the page to go to the home page.  You can now use Single Cell Portal.</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>
