<h1>New feature announcement</h1>

<%= render 'form', feature_announcement: @feature_announcement %>

<p>
  <%= link_to "<i class='fas fa-chevron-left'></i> Back".html_safe, feature_announcements_path, class: 'btn btn-warning' %>
</p>
